:root {
  --accent: #14a098;
  --second-accent: #CB2D6F;
  --text-dark: #0F292F;
  --text-medium: #501F3A;
  --text-light: #CCCCCC;
}

body {
  background-color: var(--text-dark);
  box-sizing: border-box;
  margin: 0 auto;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  letter-spacing: 1px;
}

/* Typography and Lists */

h1 {
  font-size: 2.5rem;
  letter-spacing: 5px;
}

h2 {
  font-size: 1.7rem;
  text-align: center;
  letter-spacing: 3px;
}

p {
  font-size: 1.2rem;
}

ul {
  list-style: none;
}

li p {
  margin: .3em auto;
  font-size: 1.2rem;
}

/* Animations */

/* Currently studying animation */

.current {
  color: var(--second-accent);
  font-weight: bold;
  animation-fill-mode: both;  
  animation: wip 1.5s ease-in infinite alternate;
  -webkit-animation: wip 1.5s ease-in infinite alternate;
  -ms-animation: wip 1.5s ease-in infinite alternate;
  -moz-animation: wip 1.5s ease-in infinite alternate;
  -o-animation: wip 1.5s ease-in infinite alternate;
}

@keyframes wip {
  from {color: var(--second-accent);}
  to {color: var(--accent);}
}

/* Fade in animation */

nav {
  animation-fill-mode: both;  
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;    
}

@keyframes fadeIn {
  from {opacity:0;}
  to {opacity:1;}
}

/* Header gradient and animation */

header {
  padding: 0 5em;
  background-color: var(--accent);
  background: radial-gradient(circle, var(--text-medium) 0%, var(--text-dark) 100%);
  animation-fill-mode: both;  
  animation: background-gradient 1s ease-in-out infinite alternate;
  -webkit-animation: background-gradient 1s ease-in-out infinite alternate;
  -ms-animation: background-gradient 1s ease-in-out infinite alternate;
  -moz-animation: background-gradient 1s ease-in-out infinite alternate;
  -o-animation: background-gradient 1s ease-in-out infinite alternate;
}

@keyframes background-gradient {
  0% {background: radial-gradient(circle, var(--text-medium) 0%, var(--text-dark) 100%);}
  20% {background: radial-gradient(circle, var(--text-medium) 2%, var(--text-dark) 100%);}
  40% {background: radial-gradient(circle, var(--text-medium) 4%, var(--text-dark) 100%);}
  60% {background: radial-gradient(circle, var(--text-medium) 6%, var(--text-dark) 100%);}
  80% {background: radial-gradient(circle, var(--text-medium) 8%, var(--text-dark) 100%);}
  100% {background: radial-gradient(circle, var(--text-medium) 10%, var(--text-dark) 100%);}
}

/* Header style */

header h1 {
  color: var(--text-light);
  margin-bottom: -.3em;
  text-transform: uppercase;
  border: var(--accent) solid .5px;
  box-shadow: 0px 0px 10px 1px rgba(242, 242, 242, .1);
  border-radius: 3px;
  padding: .4em 1em;
  background: linear-gradient(45deg, var(--text-light), var(--accent));
  background-clip: text;  
  -webkit-background-clip: text;  
  -moz-background-clip: text;  
  -moz-text-fill-color: transparent;  
  -webkit-text-fill-color: transparent;
}

header p {
  margin-top: -5px;
}

.subtitle {
  margin-top: 0;
  color: var(--text-light);
  letter-spacing: 5px;
  font-weight: bold;
  margin-bottom: 1em;
  padding: 0 1em;
  font-size: 1rem;
  text-transform: uppercase;
  background: linear-gradient(45deg, var(--text-light), var(--second-accent));
  background-clip: text;  
  -webkit-background-clip: text;  
  -moz-background-clip: text;  
  -moz-text-fill-color: transparent;  
  -webkit-text-fill-color: transparent;  
}

/* Links */

a {
  color: var(--text-light);
  text-decoration: none;
  text-transform: uppercase;
  padding: .5em 1em;
  font-weight: bold;
  font-size: 1.2rem;
  border: 3px solid transparent;
  background: linear-gradient(45deg, var(--text-light), var(--accent));
  background-clip: text;  
  -webkit-background-clip: text;  
  -moz-background-clip: text;  
  -moz-text-fill-color: transparent;  
  -webkit-text-fill-color: transparent;  
}

footer a {
  color: var(--second-accent);
}

nav {
  letter-spacing: 4px;
}

nav a:hover {
  transform: scale(1.2);
  border-bottom: var(--accent) 3px solid;
  border-radius: 3px;
}

a:hover {
  transform: scale(1.2);
  border-bottom: var(--second-accent) 2px solid;
  border-radius: 3px;
}

a:focus {
  border: none;
  outline: none;
  border: 3px solid var(--accent);
  border-radius: 3px;
  transform: scale(1.2);
}

a:active {
  border: 3px solid transparent;
}

.secondary-link {
  padding: 0;
  background: linear-gradient(45deg, var(--text-medium), var(--second-accent));
  background-clip: text;  
  -webkit-background-clip: text;  
  -moz-background-clip: text;  
  -moz-text-fill-color: transparent;  
  -webkit-text-fill-color: transparent;  
}

.secondary-link:hover {
  border-bottom: var(--second-accent) 3px solid;
}

.title a {
  font-size: 2.5rem;
  letter-spacing: 5px;
  margin: 0;
  padding: 0;
}

/* Layout setup */

header {
  background-color: var(--accent);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-list {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: repeat(auto, 1fr);
  place-content: center;
  grid-gap: 2em;
}

.project-list a:hover {
  border-bottom: none;
}


.project-list li {
  display: flex;
  flex-direction: column;
  margin: 0 .5em;
  justify-self: center;
  align-items: center;
  max-width: 30em;
}

.project-list li::after {
  content: "";
  display: block;
  border-bottom: var(--accent) solid 3px;
  border-radius: 3px;
  width: 300px;
}

.project-images {
  width: 200px;
  height: 300px;
  margin-top: 1.5em;
  border: var(--accent) 3px solid;
  border-radius: 3px;
}

.separator {
  display: none;
  margin: 0;
  padding: 0;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--text-dark);
  color: var(--text-light);
}

.about-me,
.projects,
.contact {
  padding: 1em 3em;
  color: var(--text-dark);
  background-color: var(--text-light);
}

.project-list {
  padding-left: 0;
  padding-top: 0;
}

.project-list p {
  margin: 1.5em;
}

.skills,
.education,
.work-history {
  padding: 1em 3em;
  background-color: var(--text-dark);
  color: var(--text-light);   
}

.work-history {
  background-color: var(--text-medium);  
}

/* Education & work history section */

.education-work-wrapper p {
  margin: 0;
  font-size: 1.1rem;
}

.education-work-wrapper .date {
  margin: .5em;
  margin-top: 2em;
}

.education p {
  margin: .5em 0;
}

.title-text {
  font-size: 1rem;
  font-weight: bold;
  color: var(--text-light)
}

.education .date, 
.work-history .date {
  color: var(--accent);
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}

.date::after {
  content: "";
  display: block;
  border-bottom: var(--accent) 1px solid;
  width: 300px;
  margin: 0 auto;
}

/* Form section */

#email-form {
  display: flex;
  flex-direction: column;
  width: 20em;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}

#input {
  height: 1em;
  margin-bottom: 2em;
  outline: none;
  border: none;
  border-radius: 3px;
  padding: 1em;
  width: 50vw;
}

#input:focus,
#textarea:focus {
  outline: 2px solid var(--second-accent);
}

label {
  margin-bottom: .2em;
  display: block;
}

#textarea {
  height: 10em;
  resize: none;
  margin-bottom: 2em;
  outline: none;
  border: none;  
  border-radius: 3px;  
  padding: 1em;
  width: 50vw;
}

button {
  background-color: var(--accent);
  color: #FFF;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  width: 15em;
  height: 3em;
  align-self: center;
  background: linear-gradient(45deg, var(--accent), var(--text-dark));
  margin-bottom: 1em;
}

button:focus {
  outline: 2px solid var(--second-accent);
}

/* Footer */

.footer-text {
  font-size: 1rem;
  margin-top: 0;
}

footer p {
  margin-bottom: .5em;
}

.links-wrapper {
  margin-bottom: 1.5em;
  padding: .5em;
}

.social-icons {
   color: var(--second-accent);
}

/* Pseudo classes headings decorations */

header .subtitle::after {
  content: "";
  display: block;
  border-top: var(--text-medium) solid 25px;
  border-radius: 3px;
  width: 285px;
  margin: 0;
  margin-top: -27px;
}

.about-me h2::after, 
.projects h2::after,
.work-history h2::after,  
.contact h2::after {
  content: "";
  display: block;  
  border-bottom: var(--accent) solid 15px;
  border-radius: 3px;
  width: 300px;
  margin: auto;
  margin-top: -30px;
}

.work-history h2::after {
  border-bottom: var(--text-dark) solid 15px;
}


.skills h2::after, 
.education h2::after {
  content: "";
  display: block;  
  border-bottom: var(--text-medium) solid 15px;
  border-radius: 3px;
  width: 300px;
  margin: auto;
  margin-top: -30px;
}

@media (min-width: 900px) {

  /* Layout fixes */

  .title a {
    font-size: 4.5rem;
  }

  header .subtitle {
    font-size: 1.5rem;
  }

  header .subtitle::after {
    width: 390px;
    margin-top: -40px;
    border-width: 42px;
    border-radius: 10px;
  }

  nav {
    display: flex;
    flex-direction: row;
    margin-top: 2em;
  }

  .about-me {
    padding: 2em 10em;
  }

  .skills {
    display: flex;
    justify-content: center;
    padding: 2em 10em;
  }

  .skills section {
    margin: 0 5em;
  }
  
  .education-work-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .education {
    padding-left: 5em;
    padding-right: 4em;
    padding-bottom: 3em;
  }

  .work-history {
    padding-right: 5em; 
    padding-left: 4em; 
  }

  .education, .work-history {
    display: flex;
    flex-direction: column;
    flex-basis: 150px;
    flex-grow: 1;    
  }
  
  .project-list {
    padding: 0 1em;
  }
  
  .project-list li {
    flex-direction: row;
    min-width: 800px;
  }
  
  .project-list li::after {
    display: none;
  }
  
  .separator {
    display: block;
    place-self: center;
  }
  
  .separator::after {
    content: "";
    display: block;
    border: var(--accent) 2px solid;
    border-radius: 3px;
    width: 500px;
  }
  
  .project-images {
    margin-right: 2em;
  }

  form {
    width: 40em;
  }
}